<form class="karma-entry-form">
    <div class="form-group">
        <label>Amount</label>
        <div class="input-hint">(positive for karma earned, negative for karma spent)</div>
        <!-- <input type="number" name="amount" value="{{entry.amount}}" required/> -->
        <input type="number" name="amount" value="{{entry.amount}}" required min="-1000" max="1000"/>
    </div>
    <div class="form-group">
        <label>Description</label>
        <div class="input-hint">(why karma was earned or spent)</div>
        <input type="text" name="description" value="{{entry.description}}" required placeholder="e.g., Defeated villain"/>
    </div>
</form>