<form class="add-attack-dialog">
    <div class="form-group">
        <label>Attack Name</label>
        <input type="text" name="attackName" placeholder="e.g., Punch, Kick, Energy Blast"/>
    </div>

    <div class="form-group">
        <label>Ability</label>
        <select name="ability">
            {{#each abilities as |ability key|}}
            <option value="{{key}}">{{ability.label}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label>Attack Type</label>
        <select name="attackType">
            {{#each abilities as |ability key|}}
            <optgroup label="{{ability.label}}">
                {{#each ability.attacks as |label code|}}
                <option value="{{code}}">{{label}}</option>
                {{/each}}
            </optgroup>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label>Weapon Damage</label>
        <input type="number" name="weaponDamage" value="0"/>
    </div>

    <div class="form-group">
        <label>Range (areas)</label>
        <input type="number" name="range" value="0"/>
    </div>

    <div class="form-group">
        <label>Column Shift</label>
        <input type="number" name="columnShift" value="0"/>
    </div>
</form>