<form class="add-attack-dialog">
    <div class="form-group">
        <label>Attack Name</label>
        <input type="text" name="attackName" placeholder="e.g., Punch, Kick, Energy Blast"/>
    </div>

    <div class="form-group">
        <label>Ability</label>
        <select name="ability">
            <option value="fighting">Fighting</option>
            <option value="agility">Agility</option>
            <option value="strength">Strength</option>
            <option value="endurance">Endurance</option>
        </select>
    </div>

    <div class="form-group">
        <label>Attack Type</label>
        <select name="attackType">
            <option value="BLUNT">Blunt Attack</option>
            <option value="EDGED">Edged Attack</option>
            <option value="SHOOTING">Shooting</option>
            <option value="THROWING">Throwing</option>
        </select>
    </div>

    <div class="form-group">
        <label>Weapon Damage</label>
        <input type="number" name="weaponDamage" value="0"/>
    </div>

    <div class="form-group">
        <label>Range (areas)</label>
        <input type="number" name="range" value="0"/>
    </div>

    <div class="form-group">
        <label>Column Shift</label>
        <input type="number" name="columnShift" value="0"/>
    </div>
</form>