<form class="edit-power-dialog">
    <div class="form-group">
        <label>Power Name</label>
        <input type="text" name="name" value="{{power.name}}" placeholder="Power name"/>
    </div>

    <div class="form-group">
        <label>Power Rank</label>
        <select name="rank">
            {{#each config.ranks as |label key|}}
            <option value="{{key}}" {{#if (eq ../power.rank key)}}selected{{/if}}>{{label}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea name="description">{{power.description}}</textarea>
    </div>
</form>