<!-- File: templates/dialogs/edit-power.html -->
<form class="power-dialog">
    <div class="form-group">
        <label>Power Name</label>
        <input type="text" name="name" value="{{power.name}}"/>
    </div>
    
    <div class="form-group">
        <label>Rank</label>
        <select name="rank">
            {{#each config.ranks as |label key|}}
            <option value="{{key}}" {{#if (eq ../power.rank key)}}selected{{/if}}>{{label}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label>Damage</label>
        <input type="number" name="damage" value="{{power.damage}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
        <label>Range (areas)</label>
        <input type="number" name="range" value="{{power.range}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea name="system.powers.list.description">{{power.description}}</textarea>
    </div>

    <div class="form-group">
        <label>Limitations</label>
        <textarea name="system.powers.list.limitations">{{power.limitations}}</textarea>
    </div>

    <div class="form-group">
        <label>Type</label>
        <select name="type">
            <option value="">Select Type</option>
            <option value="attack" {{#if (eq power.type "attack")}}selected{{/if}}>Attack</option>
            <option value="defense" {{#if (eq power.type "defense")}}selected{{/if}}>Defense</option>
            <option value="movement" {{#if (eq power.type "movement")}}selected{{/if}}>Movement</option>
            <option value="sensory" {{#if (eq power.type "sensory")}}selected{{/if}}>Sensory</option>
            <option value="control" {{#if (eq power.type "control")}}selected{{/if}}>Control</option>
            <option value="utility" {{#if (eq power.type "utility")}}selected{{/if}}>Utility</option>
        </select>
    </div>
</form>