<form class="join-pool-dialog">
    <div class="form-group">
        <label>Contribution (max {{maxContribution}})</label>
        <input type="number" name="contribution" max="{{maxContribution}}" value="0"/>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" name="permanent"/>
            Permanent Pool
        </label>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" name="locked"/>
            Lock Pool (karma can only be used for rolls)
        </label>
    </div>
</form>