<form class="stunt-roll-dialog">
    <div class="form-group">
        <label>Stunt Name: {{stunt.name}}</label>
        <div>Associated Power: {{powerName}}</div>
        <div>Previous Attempts: {{stunt.attempts}}</div>
        <div>Difficulty: {{difficulty}}</div>
    </div>
    
    <div class="form-group">
        <label>Karma Cost: 100</label>
        <div>Current Karma: {{currentKarma}}</div>
    </div>

    <div class="form-group">
        <label>Column Shift:</label>
        <input type="number" name="columnShift" value="0">
    </div>
</form>