<!-- combat-hud.html -->
<div class="hud-header">
    <h3>FASERIP Combat</h3>
    <div class="header-controls">
        <a class="collapse-button"><i class="fas fa-minus"></i></a>
        <a class="close-button"><i class="fas fa-times"></i></a>
    </div>
</div>

<div class="hud-content">
    <table class="combat-table">
        <!-- Top section with abilities -->
        <tr>
            <th>Blunt<br>Attacks</th>
            <th>Edged<br>Attacks</th>
            <th>Shooting<br>Attacks</th>
            <th>Throwing<br>Edged</th>
            <th>Throwing<br>Blunt</th>
            <th>Energy</th>
            <th>Force</th>
            <th>Grap-<br>pling</th>
            <th>Grab-<br>bing</th>
            <th>Escap-<br>ing</th>
            <th>Charg-<br>ing</th>
            <th>Dodging</th>
            <th>Evad-<br>ing</th>
            <th>Blocking</th>
            <th>Catching</th>
            <th>Stun?</th>
            <th>Slam?</th>
            <th>Kill?</th>
        </tr>
        <!-- Action codes -->
        <tr>
            <td>BA</td>
            <td>EA</td>
            <td>Sh</td>
            <td>TE</td>
            <td>TB</td>
            <td>En</td>
            <td>Fo</td>
            <td>Gp</td>
            <td>Gb</td>
            <td>Es</td>
            <td>Ch</td>
            <td>Do</td>
            <td>Ev</td>
            <td>Bl</td>
            <td>Ca</td>
            <td>St</td>
            <td>Sl</td>
            <td>Ki</td>
        </tr>
        <!-- Abilities -->
        <tr>
            <td>Fighting</td>
            <td>Fighting</td>
            <td>Agility</td>
            <td>Agility</td>
            <td>Agility</td>
            <td>Agility</td>
            <td>Agility</td>
            <td>Strength</td>
            <td>Strength</td>
            <td>Strength</td>
            <td>Endur-<br>ance</td>
            <td>Agility</td>
            <td>Fighting</td>
            <td>Strength</td>
            <td>Agility</td>
            <td>Endur-<br>ance</td>
            <td>Endur-<br>ance</td>
            <td>Endur-<br>ance</td>
        </tr>
        <!-- White results -->
        <tr class="result-white">
            <td>Miss</td>
            <td>Miss</td>
            <td>Miss</td>
            <td>Miss</td>
            <td>Miss</td>
            <td>Miss</td>
            <td>Miss</td>
            <td>Miss</td>
            <td>Miss</td>
            <td>Miss</td>
            <td>Miss</td>
            <td>None</td>
            <td>Autohit</td>
            <td>-6 CS</td>
            <td>Autohit</td>
            <td>1-10</td>
            <td>Gr. Slam</td>
            <td>En. Loss</td>
        </tr>
        <!-- Green results -->
        <tr class="result-green">
            <td>Hit</td>
            <td>Hit</td>
            <td>Hit</td>
            <td>Hit</td>
            <td>Hit</td>
            <td>Hit</td>
            <td>Hit</td>
            <td>Miss</td>
            <td>Take</td>
            <td>Miss</td>
            <td>Hit</td>
            <td>-2 CS</td>
            <td>Evasion</td>
            <td>-4 CS</td>
            <td>Miss</td>
            <td>1</td>
            <td>1 area</td>
            <td>E/S</td>
        </tr>
        <!-- Yellow results -->
        <tr class="result-yellow">
            <td>Slam</td>
            <td>Stun</td>
            <td>Bullseye</td>
            <td>Stun</td>
            <td>Hit</td>
            <td>Bullseye</td>
            <td>Bullseye</td>
            <td>Partial</td>
            <td>Grab</td>
            <td>Escape</td>
            <td>Slam</td>
            <td>-4 CS</td>
            <td>+1 CS</td>
            <td>-2 CS</td>
            <td>Damage</td>
            <td>No</td>
            <td>Stagger</td>
            <td>No</td>
        </tr>
        <!-- Red results -->
        <tr class="result-red">
            <td>Stun</td>
            <td>Kill</td>
            <td>Kill</td>
            <td>Kill</td>
            <td>Stun</td>
            <td>Kill</td>
            <td>Stun</td>
            <td>Hold</td>
            <td>Break</td>
            <td>Reverse</td>
            <td>Stun</td>
            <td>-6 CS</td>
            <td>+2 CS</td>
            <td>+4 CS</td>
            <td>Catch</td>
            <td>No</td>
            <td>No</td>
            <td>No</td>
        </tr>
    </table>
</div>

    <!-- Universal Table Section -->
    <div class="universal-table-section">
        <table class="universal-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th class="white-header">White</th>
                    <th class="green-header">Green</th>
                    <th class="yellow-header">Yellow</th>
                    <th class="red-header">Red</th>
                </tr>
            </thead>
            <tbody>
                {{#each universalTable as |ranges rank|}}
                <tr>
                    <td class="rank-name">{{rank}}</td>
                    <td class="white-range">{{ranges.white.[0]}}-{{ranges.white.[1]}}</td>
                    <td class="green-range">{{ranges.green.[0]}}-{{ranges.green.[1]}}</td>
                    <td class="yellow-range">{{ranges.yellow.[0]}}-{{ranges.yellow.[1]}}</td>
                    <td class="red-range">{{ranges.red.[0]}}-{{ranges.red.[1]}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>