<form class="add-attack-dialog">
    <div class="form-group">
        <label>Attack Name</label>
        <input type="text" name="attackName" value="{{item.name}}" placeholder="e.g., Punch, Kick, Energy Blast"/>
    </div>

    <div class="form-group">
        <label>Ability</label>
        <select name="ability" id="abilitySelect">
            {{#each abilities as |ability key|}}
            <option value="{{key}}" {{#if (eq ../item.system.ability key)}}selected{{/if}}>{{ability.label}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label>Attack Type</label>
        <select name="attackType">
            {{#each abilities as |ability key|}}
            <optgroup label="{{ability.label}}">
                {{#each ability.attacks as |label attackKey|}}
                <option value="{{attackKey}}" {{#if (eq ../../item.system.attackType attackKey)}}selected{{/if}}>{{label}}</option>
                {{/each}}
            </optgroup>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label>Weapon Damage</label>
        <input type="number" name="weaponDamage" value="{{item.system.weaponDamage}}"/>
    </div>

    <div class="form-group">
        <label>Range (areas)</label>
        <input type="number" name="range" value="{{item.system.range}}"/>
    </div>

    <div class="form-group">
        <label>Column Shift</label>
        <input type="number" name="columnShift" value="{{item.system.columnShift}}"/>
    </div>
</form>